@using yarn_rider.Models

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* @Scripts.Render("~/bundles/jquery") *@
@* *@
@* <script> *@
@* $(function() { *@
@*    $.get('About.cshtml', function(data) { *@
@*       $('#aaa').html(data);  *@
@*    }); *@
@* }); *@
@* </script> *@
@* *@
@* *@
@* <script> *@
@*   window.fbAsyncInit = function() { *@
@*     FB.init({ *@
@*       appId            : '2150847571659794', *@
@*       autoLogAppEvents : true, *@
@*       xfbml            : true, *@
@*       version          : 'v3.3' *@
@*     }); *@
@*      *@
@*       FB.api( *@
@*         '/me', *@
@*         'GET', *@
@*         {}, *@
@*         function(response) { *@
@*             $("#aaa").append(response.name); *@
@*         } *@
@*       ); *@
@*   }; *@
@*   *@
@*    *@
@*   $.ajax( { *@
@*   type: "POST" *@
@*    *@
@*   }); *@
@*    *@
@*    *@
@* </script> *@
@* <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script> *@



<h3>Share new post</h3>
<hr/>
<p>
    Sharing new post in yarn's page on facebook
</p>



