@{
    ViewBag.Title = "Home Page";
}

    <h3 class="mt-5 mb-4">Your Latest Streams</h3>
    <div class="row justify-content-between m-0 p-0 ">
        <div class="alert alert-costume bg-secondary">
            <i class="fas fa-scroll pr-1"></i>
            You have yet to stream any content.
            <a class="pl-2" style="font-weight:bold;" href="@Url.Action("Index", "Movies" )">Start Browsing</a>
        </div>
    </div>

    <hr />

    <h3 class="mt-5 mb-4">Films Recently Added</h3>
    <div class="row justify-content-between m-0 p-0 ">
        <div class="col-2 bg-secondary rounded p-1 m-0">
            <img class="img-fluid d-block rounded-top" alt="yarn"
                 src="https://image.tmdb.org/t/p/w1280/wElOvH7H6sLElsTOLu1MY6oWRUx.jpg">
            <h6 style="color: #fff; font-weight: bold" class="px-2 pt-2 m-0">Game Of Thrones</h6>
            <p style="color: rgb(142, 143, 157, 0.6);" class="px-2 pt-0">Action, Thriller, Fantasy</p>
        </div>

        <div class="col-2 bg-secondary rounded p-1 m-0">
            <img class="img-fluid d-block rounded-top" alt="yarn"
                 src="https://image.tmdb.org/t/p/w1280/or06FN3Dka5tukK1e9sl16pB3iy.jpg">
            <h6 style="color: #fff; font-weight: bold" class="px-2 pt-2 m-0">Game Of Thrones</h6>
            <p style="color: rgb(142, 143, 157, 0.6);" class="px-2 pt-0">Action, Thriller, Fantasy</p>
        </div>

        <div class="col-2 bg-secondary rounded p-1 m-0">
            <img class="img-fluid d-block rounded-top" alt="yarn"
                 src="https://image.tmdb.org/t/p/w1280/xnopI5Xtky18MPhK40cZAGAOVeV.jpg">
            <h6 style="color: #fff; font-weight: bold" class="px-2 pt-2 m-0">Game Of Thrones</h6>
            <p style="color: rgb(142, 143, 157, 0.6);" class="px-2 pt-0">Action, Thriller, Fantasy</p>
        </div>

        <div class="col-2 bg-secondary rounded p-1 m-0">
            <img class="img-fluid d-block rounded-top" alt="yarn"
                 src="https://image.tmdb.org/t/p/w1280/otK0H9H1w3JVGJjad5Kzx3Z9kt2.jpg">
            <h6 style="color: #fff; font-weight: bold" class="px-2 pt-2 m-0">Game Of Thrones</h6>
            <p style="color: rgb(142, 143, 157, 0.6);" class="px-2 pt-0">Action, Thriller, Fantasy</p>
        </div>

        <div class="col-2 bg-secondary rounded p-1 m-0">
            <img class="img-fluid d-block rounded-top" alt="yarn"
                 src="https://image.tmdb.org/t/p/w1280/mrejMAIyzCVzvoapICuR0GQ9ifq.jpg">
            <h6 style="color: #fff; font-weight: bold" class="px-2 pt-2 m-0">Toy Story 4</h6>
            <p style="color: rgb(142, 143, 157, 0.6);" class="px-2 pt-0">Drama</p>
        </div>

    </div>

