    body {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Override the default bootstrap behavior where horizontal description lists 
       will truncate terms that are too long to fit in the left column 
    */
    .dl-horizontal dt {
        white-space: normal;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }

    /*  --------------------------------------------  */
    /*  BACKGROUND-IMAGE  */
    /*  --------------------------------------------  */

    .landingPage-image {
        position: relative;
        background: #23242c;
        overflow: hidden;
        height: 100vh;
        z-index: 0;
    }

    .landingPage-image:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.4;
        background-image: url('../Images/LP_WP_1.jpg');
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }

    .btn-primary-landingPage {
        color: #fff;
        background-color: #3c4489;
        border: 3px solid #3c4489;
    }

    .btn-primary-landingPage:hover {
        background-color: #505794;
        border: 3px solid #505794;
        transition: all 0.2s ease;
    }

    .btn-facebook-landingPage {
        color: #fff;
        border: 3px solid #3c4489;
        background-color: none;
    }

    .btn-facebook-landingPage:hover {
        background-color: #2e5ca9;
        border: 3px solid #2e5ca9;
        transition: all 0.2s ease;
    }

.alert-costume {
    color: #8d8e9d;
    background-color: #1c1d23;
}

.text-link {
    color: #8d8e9d;
    transition: all 0.2s ease;
}

.text-link:hover {
        color: #fff;
    }
